<style type="text/css">
    /* Style the tab buttons */
    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }

    /* Change background color of buttons on hover */
    .tablink:hover {
        background-color: #777;
    }

    /* Set default styles for tab content */
    .tabcontent {
        color: white;
        display: none;
        padding: 50px;
        text-align: center;
    }
</style>
{% block header %}
<div>
    <span>
        {% for page_name, page in pages.items() %}
        <button class="tablink" href="{{ page_name }}">{{ page_name }}</button>
        {% endfor %}
    </span>
</div>
{% endblock %}
{% block body %}{% endblock %}
<a href="./">return to index</a>